---
const { url, title, description } = Astro.props;
---
<!-- <li class="text-xl"><a href={url}>{title}</a></li> -->
<!-- <div> -->

<a href={url} class="block relative">
    <div
        class="w-full bg-default transition-all border border-transparent rounded-lg shadow-sm p-7 hover:!border-neutral-200/60 lg:hover:bg-secondary hover:drop-shadow-lg hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)]">
        <a href={url} class="block mb-3">
            <h5 class="text-xl font-bold leading-none tracking-tight text-primary">{title}</h5>
        </a>
        <p class="mb-4 text-neutral-500">{description}</p>

        <a href={url}>
            <button
                class="uk-button-primary inline-flex items-center justify-between w-auto h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none hover:opacity-90">
                <span>Read</span>
                <svg class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </a>
    </div>
</a>
<!-- </div> -->
