---
interface Props {
src: string;
title: string;
body: string;
href: string;
demoUrl?: string;
techs?: Array<string>;
	}

	const { src, title, href, body, demoUrl, techs} = Astro.props;
	---
	<div class="rounded-lg overflow-hidden border border-neutral-200/60 bg-default shadow-sm w-full">
		<a href={demoUrl ? demoUrl : href} target="_blank" class="relative">
			<div class=" overflow-hidden md:h-[320px] max-sm:h-[280px] flex justify-center items-center">
				<img src={src} class="object-cover h-full w-full transition-all hover:scale-110" loading="lazy" />
			</div>
		</a>
		<div class="p-7 flex flex-col items-start ">
			<h2 class="mb-2 text-lg font-bold leading-none tracking-tight">{title}</h2>
			<div class="mb-2">

				{techs &&
				techs.map((tech) => <span
					class="rounded-full mr-1 px-2.5 py-0.5 text-default text-xs font-semibold bg-default border border-muted">{tech}</span>)}

			</div>
			<p class="mb-5 text-neutral-500">{body}</p>
			<a href={href}
				class="inline-flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-medium text-secondary transition-colors rounded-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none bg-primary hover:opacity-90">
				Project Source</a>
		</div>
	</div>
